In [1]:
# Import 
import pandas as pd
import numpy as np
from datetime import datetime

In [20]:
df = pd.read_csv('/Users/vishnukolluri/Documents/VISHNU_CIS/DSC540/MetObjects.csv',parse_dates=[9])

/Users/vishnukolluri/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Link Resource            477804 non-null  object
 48  Object Wikidata URL      22265 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               477804 non-null  object
 51  Tags                     200400 non-null  object
 52  Tags AAT URL             200400 non-null  object
 53  Tags Wikidata URL        200400 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 187.3+ MB

In [19]:
df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [23]:
df.shape

(477804, 54)

In [24]:
df2=df.dropna()

In [25]:
df2.head()

Empty DataFrame
Columns: [Object Number, Is Highlight, Is Timeline Work, Is Public Domain, Object ID, Gallery Number, Department, AccessionYear, Object Name, Title, Culture, Period, Dynasty, Reign, Portfolio, Constituent ID, Artist Role, Artist Prefix, Artist Display Name, Artist Display Bio, Artist Suffix, Artist Alpha Sort, Artist Nationality, Artist Begin Date, Artist End Date, Artist Gender, Artist ULAN URL, Artist Wikidata URL, Object Date, Object Begin Date, Object End Date, Medium, Dimensions, Credit Line, Geography Type, City, State, County, Country, Region, Subregion, Locale, Locus, Excavation, River, Classification, Rights and Reproduction, Link Resource, Object Wikidata URL, Metadata Date, Repository, Tags, Tags AAT URL, Tags Wikidata URL]
Index: []

[0 rows x 54 columns]

Chapter 7
Filter out missing data
Remove duplicates

In [39]:
#Drop rows with null values
df2=df.dropna().reset_index(drop=True)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            0 non-null      object
 1   Is Highlight             0 non-null      bool
 2   Is Timeline Work         0 non-null      bool
 3   Is Public Domain         0 non-null      bool
 4   Object ID                0 non-null      int64
 5   Gallery Number           0 non-null      object
 6   Department               0 non-null      object
 7   AccessionYear            0 non-null      object
 8   Object Name              0 non-null      object
 9   Title                    0 non-null      object
 10  Culture                  0 non-null      object
 11  Period                   0 non-null      object
 12  Dynasty                  0 non-null      object
 13  Reign                    0 non-null      object
 14  Portfolio                0 non-null      object
 15  Constituent ID           0 non-null      object
 16  Artist Role              0 non-null      object
 17  Artist Prefix            0 non-null      object
 18  Artist Display Name      0 non-null      object
 19  Artist Display Bio       0 non-null      object
 20  Artist Suffix            0 non-null      object
 21  Artist Alpha Sort        0 non-null      object
 22  Artist Nationality       0 non-null      object
 23  Artist Begin Date        0 non-null      object
 24  Artist End Date          0 non-null      object
 25  Artist Gender            0 non-null      object
 26  Artist ULAN URL          0 non-null      object
 27  Artist Wikidata URL      0 non-null      object
 28  Object Date              0 non-null      object
 29  Object Begin Date        0 non-null      int64
 30  Object End Date          0 non-null      int64
 31  Medium                   0 non-null      object
 32  Dimensions               0 non-null      object
 33  Credit Line              0 non-null      object
 34  Geography Type           0 non-null      object
 35  City                     0 non-null      object
 36  State                    0 non-null      object
 37  County                   0 non-null      object
 38  Country                  0 non-null      object
 39  Region                   0 non-null      object
 40  Subregion                0 non-null      object
 41  Locale                   0 non-null      object
 42  Locus                    0 non-null      object
 43  Excavation               0 non-null      object
 44  River                    0 non-null      object
 45  Classification           0 non-null      object
 46  Rights and Reproduction  0 non-null      object
 47  Link Resource            0 non-null      object
 48  Object Wikidata URL      0 non-null      object
 49  Metadata Date            0 non-null      float64
 50  Repository               0 non-null      object
 51  Tags                     0 non-null      object
 52  Tags AAT URL             0 non-null      object
 53  Tags Wikidata URL        0 non-null      object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 124.0+ bytes

In [28]:
#All the rows have atleast one null value
df2.head()

Empty DataFrame
Columns: [Object Number, Is Highlight, Is Timeline Work, Is Public Domain, Object ID, Gallery Number, Department, AccessionYear, Object Name, Title, Culture, Period, Dynasty, Reign, Portfolio, Constituent ID, Artist Role, Artist Prefix, Artist Display Name, Artist Display Bio, Artist Suffix, Artist Alpha Sort, Artist Nationality, Artist Begin Date, Artist End Date, Artist Gender, Artist ULAN URL, Artist Wikidata URL, Object Date, Object Begin Date, Object End Date, Medium, Dimensions, Credit Line, Geography Type, City, State, County, Country, Region, Subregion, Locale, Locus, Excavation, River, Classification, Rights and Reproduction, Link Resource, Object Wikidata URL, Metadata Date, Repository, Tags, Tags AAT URL, Tags Wikidata URL]
Index: []

[0 rows x 54 columns]

In [29]:
#Finding Count of missing values
df.isna().sum().sort_values(ascending = False)

Metadata Date              477804
River                      475709
State                      475254
Locus                      470311
County                     469354
Reign                      466578
Locale                     462095
Excavation                 461246
Subregion                  455680
Object Wikidata URL        455539
Dynasty                    454571
Portfolio                  454274
Rights and Reproduction    453606
Region                     446444
City                       445397
Gallery Number             426028
Geography Type             418035
Country                    402053
Period                     386848
Artist Gender              374743
Tags                       277404
Tags AAT URL               277404
Tags Wikidata URL          277404
Culture                    270425
Artist Wikidata URL        260072
Artist ULAN URL            255783
Artist Role                204368
Artist Display Bio         204368
Artist Suffix              202317
Artist End Date            202269
Artist Nationality         202269
Constituent ID             202269
Artist Prefix              202269
Artist Alpha Sort          202269
Artist Display Name        202269
Artist Begin Date          202269
Classification              78206
Dimensions                  75294
Title                       29185
Object Date                 13867
Medium                       7120
AccessionYear                3556
Object Name                  1691
Credit Line                   451
Is Highlight                    0
Object Begin Date               0
Object End Date                 0
Link Resource                   0
Department                      0
Object ID                       0
Repository                      0
Is Public Domain                0
Is Timeline Work                0
Object Number                   0
dtype: int64

In [59]:
#Replace missing values with 0

df.fillna(0)

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,0,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,0,0,0,http://www.metmuseum.org/art/collection/search/1,0,0.0,"Metropolitan Museum of Art, New York, NY",0,0,0
1,1980.264.5,False,False,False,2,0,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,0,0,0,http://www.metmuseum.org/art/collection/search/2,0,0.0,"Metropolitan Museum of Art, New York, NY",0,0,0
2,67.265.9,False,False,False,3,0,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,0,0,0,http://www.metmuseum.org/art/collection/search/3,0,0.0,"Metropolitan Museum of Art, New York, NY",0,0,0
3,67.265.10,False,False,False,4,0,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,0,0,0,http://www.metmuseum.org/art/collection/search/4,0,0.0,"Metropolitan Museum of Art, New York, NY",0,0,0
4,67.265.11,False,False,False,5,0,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,0,0,0,http://www.metmuseum.org/art/collection/search/5,0,0.0,"Metropolitan Museum of Art, New York, NY",0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477799,23.112.2893,False,False,True,860869,171,Drawings and Prints,1923,Drawing,Phaeton #24567,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,0.0,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477800,23.112.2894,False,False,True,860870,171,Drawings and Prints,1923,Drawing,Stanhope Phaeton #25538-25539 (#21222),...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,0.0,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477801,53.600.1434,False,False,False,860871,171,Drawings and Prints,1953,Print,"Forest landscape with cattle drinking, a woman...",...,Upper Sepik River,Prints,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,0.0,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477802,23.112.2895,False,False,True,860872,171,Drawings and Prints,1923,Drawing,Phaeton with folding top,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,0.0,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477803,23.112.2896,False,False,True,860873,171,Drawings and Prints,1923,Drawing,Stanhope Phaeton,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,0.0,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356

In [61]:
#Remove duplicates
#Count Number of duplicates with coloumn Object Number
df.duplicated(['Object Number']).sum()

2932

In [62]:
#drop Duplicates
df.drop_duplicates(subset=['Object Number'])

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477799,23.112.2893,False,False,True,860869,171,Drawings and Prints,1923,Drawing,Phaeton #24567,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,NaN,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477800,23.112.2894,False,False,True,860870,171,Drawings and Prints,1923,Drawing,Stanhope Phaeton #25538-25539 (#21222),...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,NaN,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477801,53.600.1434,False,False,False,860871,171,Drawings and Prints,1953,Print,"Forest landscape with cattle drinking, a woman...",...,Upper Sepik River,Prints,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,NaN,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477802,23.112.2895,False,False,True,860872,171,Drawings and Prints,1923,Drawing,Phaeton with folding top,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,NaN,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356
477803,23.112.2896,False,False,True,860873,171,Drawings and Prints,1923,Drawing,Stanhope Phaeton,...,Upper Sepik River,Drawings,"© 2022 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q97827147,NaN,"Metropolitan Museum of Art, New York, NY",Carriages,http://vocab.getty.edu/page/aat/300185335,https://www.wikidata.org/wiki/Q235356

Chapter 8
Create hierarchical index
Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)
Reshape
Pivot the data

In [63]:
#Create a Hierarchical index from subset of the above data set
df2 = df[['Object Number', 'Department', 'Title', 'Object Name', 'Medium', 'Classification', 'Is Public Domain']]

# Select random sample of 100 rows
df3 = df2.sample(100)

# Reset Index
df3 = df3.reset_index()

In [65]:
# Hierarchical indexing using columns department and medium

df4 = df3.set_index(['Department', 'Medium'])
df4.head()

                                                                   index  \
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware   99014
Arts of Africa, Oceania, and the Americas Wood, paint             192711
Greek and Roman Art                       Gold                    155076
                                          Terracotta              150037
                                          Limestone               141571

                                                                 Object Number  \
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware       94.4.61
Arts of Africa, Oceania, and the Americas Wood, paint              1988.143.28
Greek and Roman Art                       Gold                        1993.290
                                          Terracotta                    20.196
                                          Limestone                 74.51.2672

                                                                                                              Title  \
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware                                               Ewer
Arts of Africa, Oceania, and the Americas Wood, paint                                Architectural Ornament (Singa)
Greek and Roman Art                       Gold                                             Gold stater of Ptolemy I
                                          Terracotta              Fragment of a terracotta calyx-krater (mixing ...
                                          Limestone                                      Limestone statue of Apollo

                                                                             Object Name  \
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware                    Ewer
Arts of Africa, Oceania, and the Americas Wood, paint             Architectural ornament
Greek and Roman Art                       Gold                                    Stater
                                          Terracotta                       Vase fragment
                                          Limestone                    Statue of a youth

                                                                    Classification  \
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware  Ceramics-Pottery
Arts of Africa, Oceania, and the Americas Wood, paint               Wood-Sculpture
Greek and Roman Art                       Gold                               Coins
                                          Terracotta                         Vases
                                          Limestone                Stone Sculpture

                                                                  Is Public Domain
Department                                Medium
European Sculpture and Decorative Arts    Tin-glazed earthenware              True
Arts of Africa, Oceania, and the Americas Wood, paint                        False
Greek and Roman Art                       Gold                                True
                                          Terracotta                          True
                                          Limestone                           True

In [66]:
#Reshape the sample 
#The stack method turns column names into index values, and the unstack method turns index values into column names.
dr = df3.stack()
dr

0   index                                                           99014
    Object Number                                                 94.4.61
    Department                     European Sculpture and Decorative Arts
    Title                                                            Ewer
    Object Name                                                      Ewer
                                              ...
99  Title                                         Designs for three terms
    Object Name         Print \r\nOrnament & Architecture\r\nPrint\r\n...
    Medium                                                        Etching
    Classification                   Books|Ornament & Architecture|Prints
    Is Public Domain                                                False
Length: 800, dtype: object

In [67]:
# Reshape from the rows into the columns
dr.unstack()

,index,Object Number,Department,Title,Object Name,Medium,Classification,Is Public Domain
0,99014,94.4.61,European Sculpture and Decorative Arts,Ewer,Ewer,Tin-glazed earthenware,Ceramics-Pottery,True
1,192711,1988.143.28,"Arts of Africa, Oceania, and the Americas",Architectural Ornament (Singa),Architectural ornament,"Wood, paint",Wood-Sculpture,False
2,155076,1993.290,Greek and Roman Art,Gold stater of Ptolemy I,Stater,Gold,Coins,True
3,150037,20.196,Greek and Roman Art,Fragment of a terracotta calyx-krater (mixing ...,Vase fragment,Terracotta,Vases,True
4,141571,74.51.2672,Greek and Roman Art,Limestone statue of Apollo,Statue of a youth,Limestone,Stone Sculpture,True
...,...,...,...,...,...,...,...,...
95,227551,2002.540.3,Drawings and Prints,Gaetano Rossi Napoletano,Drawing,Conté crayon on off white wove paper,Drawings,True
96,307763,1980.541.13,Islamic Art,Element,Element,Gold,Jewelry,True
97,70198,"C.I.47.53.1a, b",Costume Institute,Corset,Corset,"silk, bone",Outerwear,True
98,123261,08.180.349,European Sculpture and Decorative Arts,Fragment,Fragment,Embroidered net,Textiles-Laces,False
99,427974,32.130.30,Drawings and Prints,Designs for three terms,Print \r\nOrnament & Architecture\r\nPrint\r\n...,Etching,Books|Ornament & Architecture|Prints,False

Chapter 10

Grouping with Functions

Cross Tabs

In [68]:
##Grouping with Functions
# Lets find whats the count if the object is public domain or not.

dg = df3.set_index(['Is Public Domain'])
dg.groupby(bool).count()

,index,Object Number,Department,Title,Object Name,Medium,Classification
Is Public Domain,,,,,,,
False,51,51,51,51,51,51,51
True,49,49,49,49,49,49,49

In [70]:

#Cross tab
# Summarize the total records by calssifications and departments, and display top 10 classifications

dc = pd.crosstab(df2.Classification, df2.Department, margins = True)
dc.sort_values('All', ascending=False).head(11)

Department,Ancient Near Eastern Art,Arms and Armor,"Arts of Africa, Oceania, and the Americas",Asian Art,Costume Institute,Drawings and Prints,Egyptian Art,European Paintings,European Sculpture and Decorative Arts,Greek and Roman Art,Islamic Art,Medieval Art,Modern and Contemporary Art,Musical Instruments,Photographs,Robert Lehman Collection,The American Wing,The Cloisters,The Libraries,All
Classification,,,,,,,,,,,,,,,,,,,,
All,6222,13611,12335,36817,31412,167152,27962,2617,42934,33750,15473,7150,14241,5210,37192,2586,13565,2338,390,472957
Prints,0,0,0,4849,361,74284,1125,0,1,17,3,0,1000,0,828,16,413,0,148,83045
Photographs,0,6,62,30,21,115,24762,0,0,1,5,0,128,0,26745,0,14,0,16,51905
Prints|Ephemera,0,0,0,0,131,28387,12,0,0,1,0,0,0,0,1,0,92,0,34,28658
Drawings,1,2,0,3,40,16703,4,55,5,3,16,0,5167,0,26,732,29,4,15,22805
Vases,0,0,0,0,0,0,5,0,0,21315,0,0,3,0,0,0,3,0,0,21326
Ceramics,27,0,2,6284,0,0,0,0,0,0,3386,977,166,0,0,113,8474,104,0,19533
Books,0,0,0,0,22,13877,4,0,0,0,0,0,14,0,873,0,19,0,29,14838
Textiles-Woven,26,0,1267,4255,0,0,1,0,3481,0,642,220,1056,0,0,48,7,5,0,11008
Photographs|Ephemera,0,0,0,0,3,10017,0,0,0,0,0,0,0,0,1,0,3,0,1,10025
Paintings,0,4,1,4087,371,4,10,2284,1,0,43,1,1884,6,25,284,9,0,1,9015

Chapter 11
Convert between string and date time
Generate date range
Frequencies and date offsets
Convert timestamps to periods and back
Period Frequency conversions

In [71]:
#Changing dataset that contains time series data.
#Convert between string and date time
ts = pd.read_excel("/Users/vishnukolluri/Downloads/Week7and8data/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx")

In [72]:
ts.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22.0,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45.0,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48.0,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57.0,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42.0,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [73]:
type(ts['Timestamp'])

pandas.core.series.Series

In [74]:
day_of_week = ts['Timestamp'].apply(lambda x: x.strftime('%A'))
# Adding day_of_week column in dataframe
ts.insert(loc=1,column='Day_of_Week',value=day_of_week)
ts.sample(5)

,Timestamp,Day_of_Week,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
994,2016-10-27 07:15:54.466,Thursday,No,Male,57.0,USA,NY,JOY,MEH,MEH,...,NaN,NaN,NaN,NaN,NaN,NaN,Friday,NaN,Science: Latest News and Headlines,NaN
83,2016-10-24 06:11:01.567,Monday,No,Female,55.0,Murica,NJ,MEH,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
61,2016-10-24 05:57:27.855,Monday,No,Male,37.0,england,essex,DESPAIR,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,throw in bin and drink beer,ESPN,NaN
531,2016-10-24 12:52:51.557,Monday,No,Female,35.0,Canada,British Columbia,NaN,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,2.0,3 or higher,3 or higher,Sunday,"Smear peanut butter on, bite peanut butter off...",Science: Latest News and Headlines,NaN
656,2016-10-24 16:43:04.206,Monday,No,Male,52.0,US,FL,MEH,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN

In [75]:
print(f" Data collected is between date range {ts['Timestamp'].min()} - {ts['Timestamp'].max()}")

 Data collected is between date range 2016-10-24 05:09:23.033000 - 2016-10-30 17:06:45.660000

In [76]:
#Convert timestamps to periods and back
#Change timestap into session of the day
ds=pd.cut(ts.Timestamp.dt.hour,
               [0,6,12,18,23],
               labels=['Night','Morning','Afternoon','Evening'],
               include_lowest=True)
ds.value_counts()

Morning      586
Afternoon    362
Night        218
Evening       93
Name: Timestamp, dtype: int64